<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Deez-web</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/deez.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/download.js') }}"></script>
</head>
<body>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
		  <label class="input-group-text">DEEZ-DW</label>
		</div>
		<input type="url" id="link" class="form-control" placeholder="Spotify or Deezer link">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
		  <label class="input-group-text" for="inputGroupSelect01">QUALITY</label>
		</div>
		<select class="custom-select" id="inputGroupSelect01">
		  <option value="FLAC">FLAC</option>
		  <option value="MP3_320" selected>320</option>
		  <option value="MP3_256">256</option>
		  <option value="MP3_128">128</option>
		</select>
	</div>
	<div onclick='get("{{ ip }}", {{ port }})' id="button">
		<button class="btn btn-primary">PLAY</button>
	</div>
</body>
</html>